name: CI/CD

on:
  push:
    branches: [ develop ]
  workflow_dispatch: {}

jobs:
  call-reusable-build-workflow:
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/build.yml@develop
    with:
      java_version: "21"
      app_name: "pos-tech-g57-app-users"
      run_validation_and_lint: true
      run_build_and_test: true
    secrets: inherit

  package-for-sonar:
    name: Package Artifacts for Sonar
    runs-on: ubuntu-latest
    needs: call-reusable-build-workflow
    if: always()
    steps:
      - name: Download all artifacts from build job
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Upload combined artifact for Sonar
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: artifacts/build-artifacts/target

  sonar-gates:
    needs: package-for-sonar
    if: always()
    uses: rachelkozlowsky/nested-reusable-java-maven-eks/.github/workflows/gates.yml@develop
    with:
      run_sonar_scan: true
    secrets: inherit